Repository Sgarcia10/ss-schematics: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:styles, npm run format, npm run lint:server, npm run lint:client

Initial commit
  LICENSE
Due: none

feat: ngrx
  .editorconfig
  .prettierrc
  README.md
  package.json
  proxy.conf.json
  src/client/app/app.component.css
  src/client/app/app.component.ts
  src/client/app/app.module.ts
  src/client/app/containers/app/app.component.html
  src/client/app/containers/app/app.component.scss
  src/client/app/containers/app/app.component.spec.ts
  src/client/app/containers/app/app.component.ts
  src/client/app/core/app.service.ts
  src/client/app/core/context.ts
  src/client/app/core/core.module.ts
  src/client/app/store/app/app.actions.ts
  src/client/app/store/app/app.effects.ts
  src/client/app/store/app/app.reducer.ts
  src/client/app/store/app/app.state.ts
  src/client/app/store/app/index.ts
  src/client/app/store/index.ts
  src/server/README.md
  src/server/api/api.module.ts
  src/server/api/app.module.ts
  src/server/api/app/app.controller.ts
  src/server/api/app/app.service.ts
  src/server/main.module.ts
  src/server/main.ts
  src/server/shared/shared.module.ts
  src/server/test/app.e2e-spec.ts
  src/server/utils/logger.service.ts
  tslint.json
  yarn.lock
Due: npm run lint:styles, npm run format, npm run lint:server

initial commit
  .editorconfig
  .gitignore
  README.md
  angular.json
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  e2e/tsconfig.e2e.json
  package.json
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/assets/.gitkeep
  src/browserslist
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/favicon.ico
  src/index.html
  src/karma.conf.js
  src/main.ts
  src/polyfills.ts
  src/styles.css
  src/test.ts
  src/tsconfig.app.json
  src/tsconfig.spec.json
  src/tslint.json
  tsconfig.json
  tslint.json
  yarn.lock
Due: npm run lint:styles, npm run format

feat: client
  .commitlintrc.json
  .huskyrc
  .lintstagedrc
  .prettierrc
  .stylelintrc
  angular.json
  nodemon.json
  package.json
  src/client/app/app.component.css
  src/client/app/app.component.html
  src/client/app/app.component.spec.ts
  src/client/app/app.component.ts
  src/client/app/app.module.ts
  src/client/assets/.gitkeep
  src/client/browserslist
  src/client/environments/environment.prod.ts
  src/client/environments/environment.ts
  src/client/favicon.ico
  src/client/index.html
  src/client/karma.conf.js
  src/client/main.ts
  src/client/polyfills.ts
  src/client/styles.css
  src/client/test.ts
  src/client/tsconfig.app.json
  src/client/tsconfig.spec.json
  src/client/tslint.json
  src/tsconfig.app.json
  src/tsconfig.spec.json
  src/tslint.json
  yarn.lock
Due: npm run lint:styles, npm run format, npm run lint:client

feat: commit lint
  .huskyrc
  .lintstagedrc
Due: none

fix: commit lint
  .huskyrc
Due: none

fix: lint staged
  src/client/app/app.component.html
Due: none

fix: lint staged
  .lintstagedrc
Due: none

feat: server and webpack
  src/client/tsconfig.app.json
  src/server/README.md
  src/server/api/app.module.ts
  src/server/api/app/app.controller.spec.ts
  src/server/api/app/app.controller.ts
  src/server/api/app/app.service.ts
  src/server/main.ts
  src/server/test/app.e2e-spec.ts
  src/server/test/jest-e2e.json
  src/server/tsconfig.json
  src/server/tsconfig.spec.json
Due: npm run format, npm run lint:server

fix: linters
  .lintstagedrc
  .vscode/launch.json
  angular.json
  nest-cli.json
  nodemon-debug.json
  package.json
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: none

feat: docker
  .dockerignore
  .gitignore
  .npmrc
  Dockerfile
  angular.json
  package.json
  process.yml
  src/server/api/app/app.controller.ts
  src/server/main.ts
  start.sh
  webpack.config.js
Due: npm run format, npm run lint:server

fix: angular dev port
  angular.json
Due: none

feat: docker compose
  .docker/nginx/Dockerfile
  .docker/nginx/nginx.conf
  .docker/nginx/scripts/build-nginx.sh
  .docker/nginx/sites/node.template
  .lintstagedrc
  Dockerfile
  angular.json
  docker-compose.dev.yml
  package.json
  src/client/app/containers/app/app.component.spec.ts
  src/client/jest.config.js
  src/client/jest.setup.ts
  src/client/karma.conf.js
  src/client/styles.scss
  src/client/test.ts
  src/client/tsconfig.spec.json
  src/server/api/api.module.ts
  tsconfig.json
  yarn.lock
Due: npm run lint:styles, npm run format, npm run lint:client

fix: nginx locations
  .docker/nginx/sites/node.template
  angular.json
  docker-compose.dev.yml
  package-lock.json
  package.json
  src/client/app/containers/app/app.component.html
  src/client/app/containers/app/app.component.ts
  src/server/api/api.module.ts
  src/server/main.ts
  tslint.json
  yarn.lock
Due: npm run format, npm run lint:server

fix: app
  src/client/app/app.component.html
  src/client/app/app.component.scss
  src/client/app/app.component.spec.ts
  src/client/app/app.component.ts
  src/client/app/app.module.ts
Due: npm run lint:styles, npm run format

fix: package versions
  package-lock.json
  package.json
  src/client/app/store/app/app.effects.ts
  src/client/polyfills.ts
  src/server/main.module.ts
  src/server/main.ts
  tsconfig.json
Due: npm run format, npm run lint:server, npm run lint:client

Path conditions:
  npm run lint:styles: any of: *.{scss,css}
  npm run format: (((any of: *.{scss,css}) or (any of: *.{json})) or (any of: ./src/server/*.{ts,js})) or (any of: ./src/client/*.{ts,js})
  npm run lint:server: any of: ./src/server/*.{ts,js}
  npm run lint:client: any of: ./src/client/*.{ts,js}
